

md-input-container.md-default-theme .md-input, md-input-container .md-input {
  color: white;
  border-color: white !important;
}

md-input-container.md-default-theme .md-placeholder, md-input-container .md-placeholder, md-input-container.md-default-theme label, md-input-container label {
  color: white !important;
}

md-content.md-default-theme, md-content {

color: white !important;
}

body.md-default-theme, body, html.md-default-theme, html {

color: white !important;

}

md-select.md-default-theme .md-select-value.md-select-placeholder, md-select .md-select-value.md-select-placeholder {


	color: white !important;

}
md-select.md-default-theme .md-select-value, md-select .md-select-value {
    border-bottom-color: white !important;
}

md-radio-button.md-default-theme .md-off, md-radio-button .md-off {
    border-color: white;
}

md-input-container.md-default-theme:not(.md-input-focused):not(.md-input-invalid) label.md-required:after, md-input-container:not(.md-input-focused):not(.md-input-invalid) label.md-required:after {
    color: white;
}

md-input-container:not(.md-input-focused):not(.md-input-invalid) md-select.md-default-theme .md-select-value span:first-child:after, md-input-container:not(.md-input-focused):not(.md-input-invalid) md-select .md-select-value span:first-child:after {
    color: white;
}