/*.body{
  background-image: url("../images/berlin.jpg");
}*/



md-content.md-default-theme, md-content {


}

/*md-input-container.md-default-theme .md-input, md-input-container .md-input {
  color: white;
  border-color: white;
}
*/
/*md-input-container.md-default-theme .md-placeholder, md-input-container .md-placeholder, md-input-container.md-default-theme label, md-input-container label {
  color: white;
}*/

.md-headline {

}

.dialogdemoThemeInheritance .container {
  text-align: center;
min-width: 400px;
}




.inputdemoIcons .inputIconDemo {
  min-height: 48px; }
.inputdemoIcons md-input-container:not(.md-input-invalid) > md-icon.email {
  color: green; }
.inputdemoIcons md-input-container:not(.md-input-invalid) > md-icon.name {
  color: dodgerblue; }
.inputdemoIcons md-input-container.md-input-invalid > md-icon.email,
.inputdemoIcons md-input-container.md-input-invalid > md-icon.name {
  color: red; }
.checkboxdemoBasicUsage div.flex-xs {
  min-height: 40px; }
.checkboxdemoBasicUsage .checkboxDemo1 div {
  clear: both; }
.checkboxdemoBasicUsage .checkboxDemo1 md-checkbox {
  float: left; }
.checkboxdemoBasicUsage p {
  padding-left: 8px; }
.checkboxdemoBasicUsage fieldset.standard {
  border-style: solid;
  border-width: 1px; }
.checkboxdemoBasicUsage legend {
  color: #3F51B5; }
.checkboxdemoBasicUsage legend code {
  color: #3F51B5;
  font-weight: normal; }
.checkboxdemoBasicUsage .ipsum {
  color: saddlebrown; }
.checkboxdemoSyncing .checkboxDemo1 div {
  clear: both; }
.checkboxdemoSyncing .checkboxDemo1 md-checkbox {
  float: left; }
.checkboxdemoSyncing legend {
  color: #3F51B5; }
.checkboxdemoSyncing legend code {
  color: #3F51B5;
  font-weight: normal; }
.checkboxdemoSyncing p {
  padding-left: 8px; }
.checkboxdemoSyncing .info {
  padding-left: 13px; }
.checkboxdemoSyncing div.standard {
  padding: 8px;
  padding-left: 15px; }
.checkboxdemoSyncing fieldset.standard {
  border-style: solid;
  border-width: 1px;
  height: 100%; }
.radioButtondemoBasicUsage body {
  padding: 20px; }
.radioButtondemoBasicUsage hr {
  margin-left: -20px;
  opacity: 0.3; }
.radioButtondemoBasicUsage md-radio-group {
  width: 150px; }
.radioButtondemoBasicUsage p:last-child {
  padding-bottom: 50px; }
.radioButtondemoBasicUsage [ng-controller] {
  padding: 0 20px; }
.radioButtondemoBasicUsage .radioValue {
  margin-left: 5px;
  color: #0f9d58;
  font-weight: bold;
  padding: 5px; }
.radioButtondemoBasicUsage md-icon {
  margin: 0 20px 20px;
  width: 128px;
  height: 128px; }
.radioButtondemoBasicUsage .ipsum {
  color: saddlebrown;
  font-size: 0.9em; }
.buttondemoBasicUsage section {
  background: #f7f7f7;
  border-radius: 3px;
  text-align: center;
  margin: 1em;
  position: relative !important;
  padding-bottom: 10px; }
.buttondemoBasicUsage md-content {
  margin-right: 7px; }
.buttondemoBasicUsage section .md-button {
  margin-top: 16px;
  margin-bottom: 16px; }
.buttondemoBasicUsage .label {
  position: absolute;
  bottom: 5px;
  left: 7px;
  font-size: 14px;
  opacity: 0.54; }
.datepickerdemoBasicUsage {
  /** Demo styles for mdCalendar. */ }
.datepickerdemoBasicUsage md-content {
  padding-bottom: 200px; }
.datepickerdemoBasicUsage .validation-messages {
  font-size: 12px;
  color: #dd2c00;
  margin-left: 15px; }
/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
#map {
  height: 100%;
}
/* Optional: Makes the sample page fill the window. */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
#description {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
}
#infowindow-content .title {
  font-weight: bold;
}
#infowindow-content {
  display: none;
}
#map #infowindow-content {
  display: inline;
}
.pac-card {
  margin: 10px 10px 0 0;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  background-color: #fff;
  font-family: Roboto;
}
#pac-container {
  padding-bottom: 12px;
  margin-right: 12px;
}
.pac-controls {
  display: inline-block;
  padding: 5px 11px;
}
.pac-controls label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}
#pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 400px;
}
#pac-input:focus {
  border-color: #4d90fe;
}
#title {
  color: #fff;
  background-color: #4d90fe;
  font-size: 25px;
  font-weight: 500;
  padding: 6px 12px;
}
#target {
  width: 345px;
}
/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
#map {
  height: 100%;
}
/* Optional: Makes the sample page fill the window. */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
#description {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
}
#infowindow-content .title {
  font-weight: bold;
}
#infowindow-content {
  display: none;
}
#map #infowindow-content {
  display: inline;
}
.pac-card {
  margin: 10px 10px 0 0;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  background-color: #fff;
  font-family: Roboto;
}
#pac-container {
  padding-bottom: 12px;
  margin-right: 12px;
}
.pac-controls {
  display: inline-block;
  padding: 5px 11px;
}
.pac-controls label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}
#pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 400px;
}
#pac-input:focus {
  border-color: #4d90fe;
}
#title {
  color: #fff;
  background-color: #4d90fe;
  font-size: 25px;
  font-weight: 500;
  padding: 6px 12px;
}
body {
  padding-top: 50px;
}
.main-content {
  padding: 40px 15px;
}


.main-div{
  align-content: center;

}
